html {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'inconsolatamedium', 'Consolas', 'Courier New', monospace;
    font-size: 110%;

    background: #000;
    color: #eee;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

a {
    color: #EF92D0;
    text-decoration: none;
}
a:visited {
    color: #EF92D0;
}
a:hover {
    color: #EF92D0;
    text-decoration: underline;
}

body > header {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;

    font-family: 'fff_tusjbold';
    font-size: 300%;
    text-align: center;
    color: white;
}
body header > .text {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
}
body header > .slogan {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: 5em;
    z-index: 10;
    color: #EF92D0;
    text-transform: uppercase;
    font-weight: bold;

    transform: rotateZ(-10deg);
}

#container {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;

	overflow: hidden;
}

#container > .split {
	width: 50%;
	float: left;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding: 0px 10px 10px 10px;
}

#left .grid {
	display: block;
    width: 60%;

    margin: 0 auto;
    padding: 0;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
#left .grid .card {
    display: block;
    cursor: pointer;

    width: 14.28%;
    padding-bottom: 14.28%;
    margin: 0;
    float: left;

    border: solid 2px #EEE; /* @lck I see what you did here */

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
#left .grid.five .card {
    width: 20%;
    padding-bottom: 20%;
}
#left .grid.five .card:nth-child(7n+6),
#left .grid.five .card:nth-child(7n+7),
#left .grid.five .card:nth-last-child(-n+14) {
    display: none;
}

#left .option {
    overflow: hidden;
    vertical-align: middle;
    text-align: center;

    font-size: 110%;
    margin: 0.5em 0;
}
#left .option select {
    font-size: 100%;
    padding: 0 0.5em;
}

.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
.gutter {
    background-color: #000;

    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('../resources/grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('../resources/grips/horizontal.png');
    cursor: ns-resize;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dialog-container > .fader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.4);
}
.dialog-container a.closer {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.dialog-container .dialog {
    position: relative;
    margin: 0% 10%;
    padding: 2em;

    background-color: white;
    border-radius: 15px;
    color: black;
}
.dialog-container .dialog header {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin: 0 0 1em 0;
}

.dialog-container .dialog .tile {
    display: block;
    float: left;
    overflow: hidden;
    margin: 10px;
    width: 140px;
    cursor: pointer;
}
.dialog-container .dialog .tile .name {
    text-align: center;
    font-weight: bold;
    margin: 0 0 6px 0;
}
.dialog-container .dialog .tile .image {
    display: block;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Extensions to animate.css */
.animate-fast {
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
}
.animated.delayed {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}

@keyframes delayed-tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  1%, 2% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  3%, 5%, 7%, 9% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  4%, 6%, 8% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.delayed-tada {
  -webkit-animation-name: delayed-tada;
  animation-name: delayed-tada;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}